
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #F3E8FF;
    
    
    
}
.main{
    background-color: white;
    border: 1px solid #d8d5d5;
    margin: 100px auto;
    width: 25%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
header h1{
    font-size: 20px;
    padding: 10px 0px 20px 20px;
    font-weight: 600;
}
.bt{
    text-align: center;
    width: 100%;
    padding: 0px 0px 20px 0px;
    
}
#btn{
    border: 1px solid #d8d5d5;
    width: 90%;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#btn i{
    color: #a6adba;
    margin-right: 10px;
}
hr{
    background-color: #d8d5d5;
    margin-left: 5%;
    width: 90%;
}
form{
    margin: 20px;
}
.mail, .pass{
    border: 1px solid #e1dddd;
    border-radius: 5px;
    width: 100%;
    height: 27px;

}

.bt-2{
    text-align: center;
    width: 100%;
}
#btn-log{
    width: 100%;
    height: 32px;
    background-color: #2F58CD;
    border-radius: 8px;
    color: white;
    border: 0px solid;
    cursor: pointer;
}
.link{
    text-align: center;
    padding-top: 14px;
}
.link a{
    text-decoration: none;
    color: #2F58CD;
}
footer{
    margin: 20px 0px 20px 0px;
    text-align: center;
    font-size: 13px;
}
footer a{
    text-decoration: none;
    color: #2F58CD;
}
span{
    color: #2F58CD;
}
.head{
    margin-top: 15px;
}
.head .fa-thin{
    padding-left: 65%;
}
.pass .fa-eye{
    color: #cbd1dc;
    position: absolute;
    top: 69%;
    right: 35%;
}
@media only screen and (max-width: 1300px){
    .main{
        width: 35%;
    }
}
@media only screen and (max-width: 1024px){
    .main{
        width: 50%;
    }
}

@media only screen and (max-width: 540px){
    .main{
        width: 80%;
    }
}